<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>edu.tamu.oal.queue_manager</string>
    <key>ProgramArguments</key>
    <array>
        <string>python</string>
        <string>-u</string>
        <string>/Library/Scripts/OAL/queue_manager.py</string>
    </array>
	<key>WorkingDirectory</key>
	<string>/Library/Scripts/OAL</string>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>